$font-stack: Helvetica, sans-serif;
$primary-color: rgb(0, 0, 0);
$secondary-color: #af9e9e;

@mixin glassyBackground(
  $color1: rgba(255, 255, 255, 0.7),
  $color2: rgba(255, 255, 255, 0.3)
) {
  background: linear-gradient(to right bottom, $color1, $color2);
}

.main {
  font-family: sans-serif;
  min-height: 100vh;
  width: 100%;
  background: linear-gradient(to right top, $primary-color, $secondary-color);
  color: rgb(0, 0, 0);
  display: flex;
  align-items: center;
  justify-content: center;
}

.board {
  min-height: 90vh;
  width: 90vw;
  @include glassyBackground();
  border-radius: 2rem;
  z-index: 2;
  backdrop-filter: blur(2rem);
}

.leftSection {
  height: 100%;
  width: 100%;
}

.rightSection {
  width: 100%;
}

.saveRecordButton {
  width: 100%;
}
