// style.scss
$font-stack: Helvetica, sans-serif;
$primary-color: red;

@mixin styles($color: DarkGray, $font: Arial Black) {
  box-shadow: 0 0 10px rgba($color, 0.75);
  font: $font-stack;
  color: $primary-color;
}

.text {
  @include styles($color: $primary-color, $font: $font-stack);
}
